[flake8]
select = B,BLK,C,E,F,I,S,W
max-complexity = 30
max-line-length = 88
ignore = E203,W503
application-import-names =  abcd,tests
import-order-style = google
exclude = 
    abcd/backends/atoms_pymongo.py,
    abcd/frontends,
    abcd/model.py,
    abcd/parsers/queries_new.py,
    abcd/parsers/queries.py,
    abcd/parsers/extras.py,
    abcd/server,
    tests/__init__.py
