{% extends "layout_database.html" %}

{% block title %}ABCD database - {{ db_info.name }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block database_name %}
    {{ db_info.name }}
{% endblock %}


{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <p>
            {{ db_info.description }}
        </p>
        <div class="btn-toolbar mb-2 mb-md-0">
            {#            <div class="btn-group mr-2">#}
            {#                <button class="btn btn-sm btn-outline-secondary">Edit</button>#}
            {#                <!--<button class="btn btn-sm btn-outline-secondary">Settings</button>-->#}
            {#            </div>#}
            <button class="btn  btn-secondary">Share</button>
            <!--<button class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
            <!--<span data-feather="calendar"></span>-->
            <!--This week-->
            <!--</button>-->
        </div>

    </div>


    <div class="row" id="searchbox">
        <div class="col">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-borderless" type="search"
                               placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>

    <div class="row">
        <div class="col">

            <div class="table-responsive">
                <!--<table class="table table-striped table-sm">-->
                <table class="table table-striped table-bordered table-hover model-list">

                    <thead>
                    <tr>{% for column in db_info.columns %}
                        <th class="column-header col-data-{{ column.slug }}">{{ column.name }}</th>{% endfor %}
                    </tr>
                    </thead>
                    <tbody>{% for row in atoms.items %}
                        <tr id="{{ row.id }}">{% for column in db_info.columns %}
                            <td class="col-data-{{ column.slug }}">{{ row[column.slug] }}</td>{% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# Macro for creating navigation links #}
    {% macro render_navigation(pagination, endpoint='database.database') %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for(endpoint, database_name=db_info.name,  page=pagination.prev_num) }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for(endpoint, database_name=db_info.name,  page=page) }}">{{ page }}</a>
                            </li>

                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="{{ url_for(endpoint, database_name=db_info.name,  page=page) }}">
                                    <strong>{{ page }}</strong></a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for(endpoint, database_name=db_info.name,  page=pagination.next_num) }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endmacro %}

    {{ render_navigation(atoms) }}

{%- endblock %}
