{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- Begin page content -->
<div class=" text-center">
    <h1>{{ title.title }}</h1>
    <p>{{ title.subtitle }}</p>
</div>
<main role="main" class="container">

    <h1 class="mt-5">Sticky footer with fixed navbar</h1>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom
        HTML
        and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt;
            .container</code>.</p>
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {{ content }}
        </div>
    </div>
</main>


<!--{%- with messages = get_flashed_messages(with_categories=True) %}-->
<!--{%- if messages %}-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--{{ utils.flashed_messages(messages) }}-->
<!--</div>-->
<!--</div>-->
<!--{%- endif %}-->
<!--{%- endwith %}-->


{%- endblock %}


<!--{#                {% import 'file.txt' as aa %}#}-->
<!--{#                {{ aa | string | markdown }}#}-->
<!--{#                {% print 'aa' | reverse %}#}-->
